In [1]:
#Importing Libs and Creating Session
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("DataPreprocessing").getOrCreate()

In [2]:
#Reading CSV file
df = spark.read.csv("C:\\Users\\Ahmed\\OneDrive\\Desktop\\SingleTable\\unprocDS\\dataset.csv",header=True)

In [3]:
#Display Schema
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Operator: string (nullable = true)
 |-- Flight #: string (nullable = true)
 |-- Route: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- Registration: string (nullable = true)
 |-- cn/In: string (nullable = true)
 |-- Aboard: string (nullable = true)
 |-- Fatalities: string (nullable = true)
 |-- Ground: string (nullable = true)
 |-- Summary: string (nullable = true)

In [4]:
#Display Contents of File
df.show(10)

+----------+-----+--------------------+--------------------+--------+-------------+--------------------+------------+-----+------+----------+------+--------------------+
|      Date| Time|            Location|            Operator|Flight #|        Route|                Type|Registration|cn/In|Aboard|Fatalities|Ground|             Summary|
+----------+-----+--------------------+--------------------+--------+-------------+--------------------+------------+-----+------+----------+------+--------------------+
|09/17/1908|17:18| Fort Myer, Virginia|Military - U.S. Army|    NULL|Demonstration|    Wright Flyer III|        NULL|    1|     2|         1|     0|During a demonstr...|
|07/12/1912|06:30|AtlantiCity, New ...|Military - U.S. Navy|    NULL|  Test flight|           Dirigible|        NULL| NULL|     5|         5|     0|First U.S. dirigi...|
|08/06/1913| NULL|Victoria, British...|             Private|       -|         NULL|    Curtiss seaplane|        NULL| NULL|     1|         1|     0|The first fatal a...|
|09/09/1913|18:30|  Over the North Sea|Military - German...|    NULL|         NULL|Zeppelin L-1 (air...|        NULL| NULL|    20|        14|     0|The airship flew ...|
|10/17/1913|10:30|Near Johannisthal...|Military - German...|    NULL|         NULL|Zeppelin L-2 (air...|        NULL| NULL|    30|        30|     0|Hydrogen gas whic...|
|03/05/1915|01:00|     Tienen, Belgium|Military - German...|    NULL|         NULL|Zeppelin L-8 (air...|        NULL| NULL|    41|        21|     0|Crashed into tree...|
|09/03/1915|15:20|Off Cuxhaven, Ger...|Military - German...|    NULL|         NULL|Zeppelin L-10 (ai...|        NULL| NULL|    19|        19|     0|Exploded and burn...|
|07/28/1916| NULL|Near Jambol, Bulg...|Military - German...|    NULL|         NULL|Schutte-Lanz S-L-...|        NULL| NULL|    20|        20|     0|Crashed near the ...|
|09/24/1916|01:00| Billericay, England|Military - German...|    NULL|         NULL|Zeppelin L-32 (ai...|        NULL| NULL|    22|        22|     0|Shot down by Brit...|
|10/01/1916|23:45|Potters Bar, England|Military - German...|    NULL|         NULL|Zeppelin L-31 (ai...|        NULL| NULL|    19|        19|     0|Shot down in flam...|
+----------+-----+--------------------+--------------------+--------+-------------+--------------------+------------+-----+------+----------+------+--------------------+
only showing top 10 rows

In [5]:
#Dropping Unnecessary Columns and Rows with NULL values
cleanDF = df.dropna().drop("Operator","Flight #","Registration","Route","cn/In","Aboard","Fatalities","Ground","Summary")
cleanDF.show(10)

+----------+-----+--------------------+--------------------+
|      Date| Time|            Location|                Type|
+----------+-----+--------------------+--------------------+
|01/19/1930|18:23|Oceanside, Califo...|Ford 5-AT-C Tri M...|
|03/31/1931|10:45|      Bazaar, Kansas|Fokker F10A Trimotor|
|08/31/1934|23:42|  Amazonia, Missouri|   Stinson  SM-6000B|
|05/06/1935|03:30|   Atlanta, Missouri|    Douglas DC-2-112|
|08/14/1935|23:45|  Near Gilmer, Texas|     Stinson Model A|
|10/07/1935|02:19|Near Cheyenne, Wy...|         Boeing 247D|
|01/14/1936|19:32|   Goodwin, Arkansas|    Douglas DC-2-120|
|04/07/1936|10:20|Uniontown, Pennsy...|    Douglas DC-2-112|
|12/15/1936|03:14|Near Salt Lake Ci...|         Boeing 247D|
|12/19/1936|20:47|Near Milford, Pen...|    Douglas DC-2-112|
+----------+-----+--------------------+--------------------+
only showing top 10 rows

In [6]:
#Saving the clean dataset before splitting
cleanDF.write.csv("C:\\Users\\Ahmed\\OneDrive\\Desktop\\SingleTable\\cleanDS", header=True, mode="overwrite")

In [7]:
#Stopping the Spark Session
spark.stop()